.about-hero {
	z-index: 10;
	position: relative;
	.hero-left {
		padding-left: 100px;
		justify-content: flex-start;
		position: relative;
		@include down-sm {
			padding-left: 0;
			text-align: center;
			width: 100%;
			flex: auto;
			padding: 31vw 0 12vw;
		}
		.about-page-h1 {
			@include fourk() {
				font-size: 50px;
				letter-spacing: 2px;
				margin-top: 180px;
			}
			@include down-sm {
				margin-top: 0;
			}
		}
		.klimon-decor {
			position: absolute;
			width: 706px;
			height: 292px;
			left: -430px;
			bottom: -130px;
			img {
				width: 100%;
			}
		}
	}
	.hero-right {
		position: relative;
		.page-hero-bg {
			&:before {
				background: #f2f3f4;
				z-index: 25;
			}
			img {
				width: 100%;
				display: block;
				transform: scale(1.1);
			}
			&.show {
				img {
					transition: all 4s;

					transform: scale(1);
				}
			}
		}
	}
}
.about-header-decor {
	position: absolute;
	width: 730px;
	height: 303px;
	left: -430px;
	top: -210px;
}
.filter {
	img {
		opacity: 0.1;
	}
}
.sec-about-klimon {
	display: flex;
	justify-content: flex-start;
	.about-klimon-content {
		flex: auto;

		background: #fff;
		&:before {
			background: #fff;
		}
		.about-wrapper-inner {
			padding-left: 100px;
			margin-left: 480px;
			padding-top: 80px;
			padding-bottom: 110px;
		}
		.content-wrapper {
			max-width: 820px;
		}
		h2 {
			text-transform: uppercase;
			font: 400 86px/107px $font-rail;
			margin: 0;
		}
		p {
			font: 400 16.5px/30px $font-regular;
			letter-spacing: 0.75px;
			text-transform: uppercase;
			margin: 35px 0 0;
			strong {
				font-family: $font-lemon;
			}
		}
	}
}

.home-content {
	&.about {
		overflow: visible;
		background: linear-gradient(90deg, #f2f3f4 68%, white 0);
		padding-top: 225px;
		@include down-sm {
			padding-top: 31vw;
			flex-direction: column;
			background: #f2f3f4;
			padding-bottom: 0;
		}
		.page-h1 {
			position: absolute;
			top: 65px;
			left: 95px;
			letter-spacing: 2px;
			@include down-sm {
				top: 8vw;
				left: 10vw;
			}
		}
		.klimon-decor {
			top: 0;
			right: 0;
			left: unset;
			bottom: unset;
			img {
				transform: translate(0, -87%);
			}
		}
		.home-content-img {
			flex: 0 1 884px;
			@include down-sm {
				flex: 0 1 auto;
				max-width: 67vw;
				max-height: 67vw;
			}
		}
		.home-content-desc {
			flex: 0 1 830px;
			margin-left: -110px;
			padding-top: 17px;
			@include down-sm {
				margin-left: 0;
				left: 0;
				width: 80%;
				align-self: flex-end;
				background: #000;
				color: #fff;
				padding: 6vw 6vw 6vw 10vw;
				top: -16vw;
				flex: 0 1 auto;
				margin-bottom: -16vw;
			}
			h1 {
				margin-bottom: 35px;
				@include down-sm {
					margin-bottom: 0;
				}
			}
		}
		.no-dairy {
			margin-top: 70px;
			@include down-sm {
				display: none;
			}
		}
	}
	&.about-flavors {
		padding-top: 330px;
		overflow: visible;
		background: #fff;
		padding-bottom: 210px;
		@include down-sm {
			padding-top: 37vw;
			flex-direction: column;
			padding-bottom: 0;
		}
		.page-h1 {
			position: absolute;
			top: 200px;
			letter-spacing: 4px;
			left: 95px;
			@include down-sm {
				top: 19vw;
				left: 10vw;
			}
		}
		.klimon-decor {
			position: absolute;
			width: 706px;
			height: 292px;
			left: -430px;
			top: -50px;
			img {
				width: 100%;
				opacity: 0.1;
			}
			@include down-sm {
				display: none;
			}
		}
		.home-content-img {
			flex: 0 1 52%;
			@include down-sm {
				flex: 0 1 auto;
				height: 72vw;
				img {
					width: auto;
					height: 100%;
				}
			}
		}
		.home-content-desc {
			position: absolute;
			margin: 0;
			width: 55%;
			right: 0;
			padding-top: 100px;
			padding-right: 50px;
			@include down-sm {
				position: relative;
				flex: 0 1 auto;
				margin-left: 0;
				left: 0;
				width: 100%;
				align-self: flex-end;
				padding: 5vw 6vw 8vw 10vw;
				top: -24vw;
				background: #fff;
				margin-bottom: -27vw;
				max-width: 80%;
			}
			h1 {
				position: relative;
				top: -55px;
				margin-bottom: -20px;
				@include down-sm {
					margin-bottom: 0;
					position: static;
					max-width: 70%;
				}
			}
			p {
				max-width: 850px;
				margin-left: 30px;
				@include down-sm {
					margin-left: 0;
				}
			}
			.btn-view-more {
				border: 3px solid #000;
				text-align: center;
				padding: 25px 155px;
				display: inline-block;
				margin: 30px 0 0 180px;
				font: 400 26px/18px $font-regular;
				text-transform: uppercase;
				text-decoration: none;
				color: #000;
				@include down-sm {
					margin: 4vw 0 0 0;
					border: 0.4vw solid #000;
					padding: 3.5vw 15vw;
					font: 400 3.5vw/3vw $font-regular;
				}
			}
		}
		.no-dairy {
			margin-top: 40px;
		}
	}
}

.about-klimon-logo {
	text-align: center;
	position: relative;
	top: -280px;
	margin-bottom: -280px;
	z-index: 16;
	@include down-sm {
		margin-bottom: 0;
		position: absolute;
		top: auto;
		left: 0;
		right: 0;
		transform: translate(23vw, 28vw);
	}
	div {
		background: linear-gradient(to top, white 30%, #ffffffd4);
		display: inline-block;
		margin: auto;
		img {
			margin: 60px 120px 70px;
			width: 290px;
			@include down-sm {
				margin: 6vw 8vw;
				width: 24vw;
			}
		}
	}
}

.about-parallax-bg {
	height: 582px;
	position: relative;
	top: -50px;
	z-index: 5;
	margin-bottom: -50px;
	background-size: 100%;
	background-attachment: scroll;
	@include down-sm {
		height: 65vw;
		position: relative;
		top: -22vw;
		background-size: cover;
		margin-bottom: -22vw;
	}
}

.about-bottom {
	background: #fff;
	padding-top: 1px;
	padding-bottom: 165px;
	position: relative;
	@include down-sm {
		padding-bottom: 4vw;
	}
	.klimon-decor {
		position: absolute;
		overflow: hidden;
		width: 292px;
		height: 524px;
		z-index: 5;
		right: 0;
		bottom: 100px;
		img {
			width: 100%;
		}
	}
	.about-bottom-content {
		font: 400 16.5px/30px $font-regular;
		max-width: 1020px;
		margin: auto;
		@include down-sm {
			max-width: 100%;
			padding: 0 14vw 0 10vw;
			font: 400 2.3vw/3.6vw $font-regular;
		}
	}
}
