footer {
	background: #f2f3f4;
	padding: 85px 0 65px;
	font: 400 13px/33px $font-lemon;
	text-transform: uppercase;
	@include down-sm {
		padding: 11vw 9vw 8vw;
		letter-spacing: 0;
		font: 400 3.8vw/6vw $font-lemon;
	}
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;
		&:hover {
			color: #feae56;
		}
	}
	.footer-row {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		@include down-sm {
			flex-wrap: wrap;
		}
		.col {
			flex: auto;
			.h3 {
				font: 400 18.6px/24px $font-lemon;
				text-transform: uppercase;
				@include down-sm {
					font: 400 4.5vw/7vw $font-lemon;
				}
			}
			&.contact {
				flex: 0 1 700px;
				margin-right: 60px;
				@include down-sm {
					margin-right: 0;
					flex: 0 1 100%;
					margin-bottom: 10vw;
				}

				.social {
					display: flex;
					margin-bottom: 95px;
					align-items: center;
					letter-spacing: 0;
					.h3 {
						margin-right: 20px;
						@include down-sm {
							margin-right: 10vw;
						}
					}
					@include down-sm {
						margin-bottom: 8vw;
					}
					a {
						display: inline-flex;
						margin-right: 25px;
						margin-left: 5px;
						@include down-sm {
							margin-right: 3vw;
							margin-left: 0;
						}
					}
					img {
						height: 28px;
						@include down-sm {
							height: 12.5vw;
						}
					}
				}
				p {
					max-width: 380px;
					font-size: 13px;
					letter-spacing: 0;
				}
			}
			&.footer-menu {
				flex: 0 1 230px;
				@include down-sm {
					margin-right: 18vw;
				}
				li {
					margin-bottom: 13px;
					@include down-sm {
						margin-bottom: 5vw;
						line-height: 6.5vw;
						a {
							font: 400 3.8vw/6vw $font-lemon;
						}
					}
				}
			}
			&.products-menu {
				@include down-sm {
					margin-right: 0;
				}
				ul {
					margin-top: 10px;
					@include down-sm {
						margin-top: 2vw;
					}
					li {
						@include down-sm {
							line-height: 6.5vw;
							margin-bottom: 3vw;
						}
						a {
							letter-spacing: 2px;
							@include down-sm {
								letter-spacing: 0;
								font: 400 3.8vw/6vw $font-lemon;
							}
						}
					}
				}
			}
			&.last {
				align-self: flex-end;
				@include down-sm {
					margin-top: 10vw;
				}
				span {
					padding: 25px 20px 20px;
					width: 100%;
					text-align: center;
					background: #000;
					color: #fff;
					display: block;
					font-size: 18px;
					margin-bottom: 10px;
					@include down-sm {
						font-size: 5vw;
						padding: 6vw 0 5vw;
						margin-bottom: 0;
					}
				}
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
				}
			}
		}
	}
	.footer-copyright {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 0;
		@include down-sm {
			margin-top: 10vw;
		}
	}
	.copyright-menu {
		margin-top: 10vw;
		a {
			&:first-child {
				margin-right: 5vw;
			}
		}
	}
}

@include desk {
	footer {
		padding: 4.43vw 0 3.39vw;
		font: 400 0.73vw/1.72vw $font-lemon;
		letter-spacing: 0.1vw;

		.footer-row {
			.col {
				.h3 {
					font: 400 0.97vw/1.25vw $font-lemon;
				}
				&.contact {
					flex: 0 1 36.46vw;
					margin-right: 3.13vw;

					.social {
						margin-bottom: 2.08vw;
						.h3 {
							margin-right: 1.04vw;
						}

						a {
							margin-left: 1.56vw;
						}
						img {
							height: 2.6vw;
						}
					}
					p {
						max-width: 27.08vw;
					}
				}
				&.footer-menu {
					margin-right: 3.13vw;

					li {
						margin-bottom: 0.68vw;
					}
				}
				&.products-menu {
					margin-right: 3.13vw;

					ul {
						margin-top: 0.52vw;

						li {
							a {
								letter-spacing: 0.1vw;
							}
						}
					}
				}
				&.last {
					span {
						padding: 1.3vw 1.04vw 1.04vw;
						font-size: 0.94vw;
						margin-bottom: 0.52vw;
					}
				}
			}
		}
		.footer-copyright {
			margin-top: 1.56vw;
		}
	}
}
