@import '../variables';
body {
    &.flavor {
        background: #FFF;
    }
}

.home-hero {
    &.flavor-hero {
        max-height: 500px;
        border-bottom: 30px solid #000;
        position: relative;
        z-index: 5;
        @include down-sm {
            height: 80vw;
            border-bottom: 10px solid #000;
            max-height: unset;
        }
        .flavor-nav {
            position: absolute;
            right: 50px;
            top: 410px;
            transform: rotate(90deg);
            transform-origin: right top 0;
            @include down-sm {
                right: 15px;
                top: 60vw;
            }
            a {
                color: #FFF;
                font: 400 30px/40px $font-lemon;
                text-decoration: none;
                text-transform: uppercase;
                @include down-sm {
                    font: 400 5vw/6vw $font-lemon;
                }
                &:first-child {
                    margin-right: 15px;
                    padding-right: 15px;
                    border-right: 4px solid #FFF;
                }
            }
            @include desk {
                right: 2.6vw;
                top: 21.4vw;
                a {
                    font: bold 1.6vw/2.1vw $font-lemon;
                }
            }
        }
    }
}

.flavor-package {
    text-align: center;
    position: relative;
    .package-img {
        position: relative;
        top: -400px;
        margin-bottom: -400px;
        z-index: 10;
        max-width: 600px;
        @include down-sm {
            max-width: 70%;
            top: -45vw;
            margin-bottom: -45vw;
        }
    }
    .hex1 {
        width: 640px;
        position: absolute;
        transform: rotate(180deg);
        left: -70px;
        top: -140px;
        @include down-sm {
            width: 50%;
            left: -33.5vw;
            top: -11vw;
        }
    }
    .hex2 {
        width: 640px;
        position: absolute;
        right: -52px;
        top: 100px;
        @include down-sm {
            width: 50%;
            right: -28.5vw;
            bottom: -16.8vw;
        }
    }
}

.flavor-inside {
    .container-fluid {
        margin-top: 90px;
        padding: 350px 0 150px;
        background: url('../images/beez-bg.svg') no-repeat;
        text-align: center;
        background-position: center;
        background-size: 100%;
        @include down-sm {
            background-size: contain;
            padding: 50px 0 50px;
        }
        .inside-img {
            @include down-sm {
                max-width: 40%;
            }
            max-width: 800px;
        }
    }
}

.flavor-heading {
    text-align: center;
    position: relative;
    .hex {
        width: 1000px;
        position: absolute;
        left: -810px;
        z-index: 5;
        @include down-sm {
            width: 100vw;
            position: absolute;
            left: -85vw;
            z-index: 5;
            top: 90%;
        }
    }
    h1 {
        font: 400 62px/70px $font-lemon;
        color: #000;
        margin-bottom: 80px;
        margin-top: 30px;
        text-transform: uppercase;
        @include down-sm {
            font: 400 4.8vw/6.5vw $font-lemon;
            margin-bottom: 50px;
            br {
                display: none;
            }
        }
    }
}

.flavor-ingredients {
    border: 30px solid #000;
    background: #FFF;
    padding-bottom: 500px;
    padding-top: 120px;
    position: relative;
    z-index: 10;
    @include down-sm {
        border: 10px solid #000;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .hex {
        width: 1000px;
        position: absolute;
        left: -230px;
        z-index: 5;
        bottom: -80px;
        @include down-sm {
            width: 100vw;
            position: absolute;
            left: -74vw;
            z-index: 5;
            bottom: -17vw;
        }
    }
    .hex2 {
        width: 1000px;
        position: absolute;
        right: -800px;
        z-index: 5;
        top: -70px;
        @include down-sm {
            width: 100vw;
            right: -78vw;
            z-index: 5;
            top: -23vw;
        }
    }
    .ingredients-row {
        display: flex;
        justify-content: center;
        @include down-sm {
            flex-direction: column;
        }
        .col {
            flex: 0 1 calc(650px);
            @include down-sm {
                flex: 0 1 100%;
                margin-bottom: 50px;
            }
            h2 {
                font: 400 58px/70px $font-lemon;
                text-transform: uppercase;
                @include down-sm {
                    font: 400 9vw/10vw $font-lemon;
                    margin-bottom: 20px;
                }
            }
            &.facts {
                margin-right: 25px;
                @include down-sm {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                }
            }
            &.ingredients {
                margin-left: 25px;
                @include down-sm {
                    margin-left: 0;
                }
                p {
                    font: 400 33px/43px $font-acumin;
                    margin-bottom: 50px;
                    @include down-sm {
                        margin-top: 0;
                        font: 400 4.8vw/6.5vw $font-acumin;
                    }
                    span {
                        margin-top: 60px;
                        font-size: 25px;
                        display: block;
                        @include down-sm {
                            font-size: 3vw;
                            margin-top: 25px;
                            line-height: 4vw;
                        }
                    }
                }
                .badge-img {
                    max-width: 240px;
                    margin-right: 60px;
                    @include down-sm {
                        margin-right: 20px;
                        width: calc(50% - 20px);
                        max-width: unset;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.indulge {
    background-color: #f2c672;
    background-image: url('../images/header-bg-pattern.png');
    background-size: 395px 371px;
    text-align: center;
    position: relative;
    padding-bottom: 220px;
    border-bottom: 30px solid #000;
    .hex {
        position: absolute;
        right: -230px;
        width: 1000px;
        top: -200px;
        @include down-sm {
            display: none;
        }
    }
    .hex2 {
        position: absolute;
        left: -420px;
        width: 1000px;
        bottom: -390px;
        @include down-sm {
            display: none;
        }
    }
    @include down-sm {
        background-size: 45% auto;
        padding-bottom: 22.5vw;
    }
    &:before {
        content: " ";
        background: url(../images/liquid.svg) no-repeat;
        position: absolute;
        background-size: calc(100% + 10px);
        left: 0;
        right: 0;
        width: 100%;
        height: 10.5vw;
        top: 0;
        background-position: -5px -2px;
    }
    .inside-img {
        max-width: 650px;
        position: relative;
        top: -330px;
        margin-bottom: -330px;
        z-index: 20;
        @include down-sm {
            max-width: 70%;
            top: -28vw;
            margin-bottom: -28vw;
        }
    }
    h2 {
        margin-top: 80px;
        font: 400 158px/94px $font-rail;
        color: #FFF;
        @include down-sm {
            font: 400 12vw/13vw $font-rail;
        }
    }
}

.other-flavors {
    padding-top: 65px;
    position: relative;
    .container-fluid {
        display: flex;
        justify-content: space-between;
    }
    .other-flavors-left {
        padding-left: 30px;
        position: relative;
        flex: 0 1 30%;
        .carousel-logo {
            display: none;
            @include down-sm {
                display: block;
                position: absolute;
                bottom: 3vw;
                right: 0;
                width: 40vw;
            }
        }
        @include down-sm {
            padding-left: 0;
            flex: 0 1 100%;
            max-width: 100%;
        }
        h2 {
            font: 400 97px/87px $font-lemon;
            text-transform: uppercase;
            @include down-sm {
                font: 400 10vw/10vw $font-lemon;
                margin-top: 20px;
            }
        }
    }
    .other-flavors-right {
        flex: 0 1 70%;
        max-width: 70%;
        @include down-sm {
            flex: 0 1 100%;
            max-width: 100%;
        }
        .flavors-carousel {
            width: 100%;
            display: block;
            padding: 0 90px;
            @include desk {
                padding: 0 4.68vw;
            }
            @include down-sm {
                margin-top: 15vw;
                padding: 0 6vw;
            }
           
        }
    }
    .flavors-row {
        width: 100%;
        justify-content: space-between;
        @include down-sm {
            padding: 0 20px;
            flex-wrap: wrap;
        }
        .col {
            // margin-bottom: -50px;
            // flex: 0 1 calc(33.33% - 60px);
            // max-width: calc(33.33% - 60px);
            // width: 100%;
            @include down-sm {
                flex: 0 1 calc(50% - 10px);
            }
            a {
                text-decoration: none;
            }
            h3 {
                font: 400 35px/41px $font-lemon;
                color: #000;
                text-transform: uppercase;
                position: relative;
                top: -190px;
                text-align: center;
                @include down-sm {
                    top: -25vw;
                    font: 400 4vw/6vw $font-lemon;
                }
            }
        }
    }
}

@include desk {
    .home-hero {
        &.flavor-hero {
            max-height: 26.1vw;
            border-bottom: 1.6vw solid #000;
        }
    }
    .flavor-package {
        .package-img {
            top: -20.9vw;
            margin-bottom: -20.9vw;
            max-width: 31.3vw;
        }
        .hex1 {
            width: 33.4vw;
            left: -3.7vw;
            top: -7.3vw;
        }
        .hex2 {
            width: 33.4vw;
            right: -2.8vw;
            top: 5.3vw;
        }
    }
    .flavor-inside {
        .container-fluid {
            margin-top: 4.7vw;
            padding: 18.3vw 0 7.9vw;
            .inside-img {
                max-width: 41.7vw;
            }
        }
    }
    .flavor-heading {
        .hex {
            width: 52.1vw;
            left: -42.2vw;
        }
        h1 {
            font: 400 3.5vw/3.9vw $font-lemon;
            margin-bottom: 4.2vw;
            margin-top: 1.6vw;
        }
    }
    .flavor-ingredients {
        border: 1.6vw solid #000;
        padding-bottom: 26.1vw;
        padding-top: 6.3vw;
        .hex {
            width: 52.1vw;
            left: -12vw;
            bottom: -4.2vw;
        }
        .hex2 {
            width: 52.1vw;
            right: -41.7vw;
            z-index: 5;
            top: -3.7vw;
        }
        .ingredients-row {
            .col {
                flex: 0 1 calc(33.9vw);
                h2 {
                    font: 400 2.9vw/3.7vw $font-lemon;
                }
                &.facts {
                    margin-right: 1.4vw;
                }
                &.ingredients {
                    margin-left: 1.4vw;
                    @include down-sm {
                        margin-left: 0;
                    }
                    p {
                        font: 400 1.8vw/2.3vw $font-acumin;
                        margin-bottom: 2.7vw;
                        span {
                            margin-top: 3.2vw;
                            font-size: 1.4vw;
                        }
                    }
                    .badge-img {
                        max-width: 12.5vw;
                        margin-right: 3.2vw;
                    }
                }
            }
        }
    }
    .indulge {
        background-size: 20.6vw 19.4vw;
        padding-bottom: 11.5vw;
        border-bottom: 1.6vw solid #000;
        .hex {
            position: absolute;
            right: -12vw;
            width: 52.1vw;
            top: -10.5vw;
        }
        .hex2 {
            position: absolute;
            left: -21.9vw;
            width: 52.1vw;
            bottom: -20.4vw;
        }
        .inside-img {
            max-width: 33.9vw;
            top: -17.2vw;
            margin-bottom: -17.2vw;
        }
        h2 {
            margin-top: 4.16vw;
            font: 400 8.3vw/4.9vw $font-rail;
        }
    }
    .other-flavors {
        padding-top: 3.4vw;
        .other-flavors-left {
            padding-left: 1.6vw;
            h2 {
                font: 400 5.1vw/4.6vw $font-lemon;
            }
        }
        .flavors-row {
            .col {
                margin-bottom: -2.7vw;
                flex: 0 1 calc(25% - 3.2vw);
                h3 {
                    font: 400 1.9vw/2.2vw $font-lemon;
                    top: -9.9vw;
                }
            }
        }
    }
}