@import "../variables";
body {
  &.home {
    background: #000;
  }
}

.home-hero {
  background-color: #f2c672;
  background-image: url("../images/header-bg-pattern.png");
  background-size: 395px 371px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 50s homeHero infinite linear;
  background-position: -100vw 0;
  position: relative;
  &:before {
    content: " ";
    background-size: 395px 371px;
    background-image: url("../images/header-bg-pattern-2.png");
    background-position: 100vw 0;
    animation: 100s homeHeroReverse infinite linear;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include down-sm {
      background-size: 45% auto;
    }
  }
  @include up-sm {
    height: calc(100vh - 60px);
    max-height: 1080px;
  }
  @include down-sm {
    background-size: 45% auto;
  }
  &.init {
    .main-product-img {
      transform: scale(1);
      opacity: 1;
      transition: all 1s;
      transition-delay: 1.5s;
      @include down-sm {
        transition-delay: 0.5s;
      }
    }
  }
  .main-product-img {
    width: 600px;
    height: auto;
    position: relative;
    z-index: 5;
    transform: scale(0.1);
    opacity: 0;

    @include down-sm {

      max-width: 60%;
      margin: 150px auto 50px;
    }
  }
}

.home-who-we-are {
  position: relative;
  padding-bottom: 100px;
  @include down-sm {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .container {
      padding: 0;
      width: auto;
      margin: 0;
      flex: 0 1 50%;
    }
  }

  .wwr-top {
    display: flex;
    justify-content: center;
    @include down-sm {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  background: #fff;
  .wwr-left {
    position: relative;
    flex: 0 1 967px;
    @include down-sm {
      padding-left: 8vw;
      padding-top: 16vw;
      flex: auto;
    }
    &.init {
      h2 {
        transform: translateX(0);
        opacity: 1;
        &:before {
          height: 150px;
          @include down-sm {
            height: 12vw;
          }
        }
      }
      h3 {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
    h2 {
      font: 400 203px/182px $font-heavitas;
      position: relative;
      left: 120px;
      top: 87px;
      letter-spacing: -3px;
      position: relative;
      transform: translateX(200px);
      transition: all 0.7s;
      opacity: 0;
      &:before {
        content: " ";
        position: absolute;
        background: url(../images/o-drip.svg) no-repeat;
        width: 155px;
        height: 0;
        background-size: cover;
        background-position: 0 0;
        left: 391px;
        top: 35px;
        transition: all 1s;
        transition-delay: 0.2s;
        @include down-sm {
          content: " ";
          width: 12vw;
          left: 29.8vw;
          top: 3vw;
        }
      }
      @include down-sm {
        font: 400 16vw/14.5vw $font-heavitas;
        left: 0px;
        top: 0px;
      }
    }
    h3 {
      color: #fcc968;
      font: 400 109px/146px $font-rail;
      position: absolute;
      text-transform: lowercase;
      bottom: -160px;
      left: 80px;
      opacity: 0;
      transform: translateY(50px);
      transition: all 0.7s;
      span {
        font-size: 217px;
      }
      @include down-sm {
        span {
          font-size: 7vw;
          margin-right: 1vw;
        }
        font: 400 7vw/8vw $font-rail;
        position: relative;
        bottom: 0;
        left: 0;
      }
    }
  }
  .wwr-right {
    flex: 0 1 561px;
    position: relative;
    @include down-sm {
      flex: auto;
      padding-left: 8vw;
    }
    &.init {
      img {
        opacity: 1;
        transform: translateX(0);
      }
    }
    img {
      width: 100%;
      position: absolute;
      right: 70px;
      top: -110px;
      opacity: 0;
      transform: translateX(-200px);
      transition: all 0.7s;
      @include down-sm {
        margin-top: 5vw;
        position: static;
        width: 95%;
      }
    }
  }

  .wwr-content {
    text-align: center;
    margin-top: 160px;
    @include down-sm {
      margin-top: 0;
      padding-top: 39vw;
    }
    .text-desk {
      @include down-sm {
        display: none;
      }
    }
    .text-mobile {
      @include up-sm {
        display: none;
      }
    }
    img {
      max-width: 300px;
      margin: 0 auto 30px;
      @include down-sm {
        max-width: 65%;
        margin-bottom: 2vw;
      }
    }
    p {
      font: 400 35px/43px $font-acumin;
      color: #000;
      margin-bottom: 50px;
      padding: 0 95px;
      @include down-sm {
        font: 400 3.4vw/6vw $font-acumin;
        margin-bottom: 0;
        padding: 0 3vw;
      }
    }
    h2 {
      font: 400 85px/105px $font-rail;
      margin-bottom: 0;
      @include down-sm {
        font: 400 6vw/7vw $font-rail;
        margin-bottom: 0;
        margin-top: 3vw;
        transform: rotate(-4deg);
      }
      @include up-sm {
        br {
          display: none;
        }
      }
    }
  }
}

.home-main-content {
  background: url("../images/texturebg.svg") no-repeat;
  padding-top: 170px;
  padding-bottom: 90px;
  background-size: cover;
  position: relative;
  &:after {
    content: " ";
    background: url(../images/liquid.svg) no-repeat;
    position: absolute;
    background-size: calc(100% + 10px);
    left: 0;
    right: 0;
    width: 100%;
    height: 10.5vw;
    top: -1px;
    background-position: -5px -2px;
  }

  @include down-sm {
    padding-top: 90px;
    padding-bottom: 0;
  }
  .klimon-logo-big {
    margin: 0 auto 140px;
    max-width: 485px;
    display: block;
    @include down-sm {
      max-width: 60%;
      margin: 2.5vw auto 10vw;
    }
  }
  .featured-flavor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    @include down-sm {
      flex-direction: column;
      margin-bottom: 0;
    }
    &.init {
      &.pink, &.green {
        .flavor-img,
        .flavor-desc .box {
          transform: translate(0,0);
        }
        .more-details {
          opacity: 1;
          transform: translate(0,0);
        }
      }
      
    }
    &.reverse {
      flex-direction: row-reverse;
      @include down-sm {
        flex-direction: column;
      }
      .flavor-desc {
        padding-left: 0;
        padding-right: 25px;
        @include down-sm {
          padding-right: 0;
        }
      }
    }
    &.pink {
      .flavor-img {
        transform: translate(0, 101%);
        transition: all 0.5s;
      }
      .flavor-desc .box {
        transform: translate(101%, 0);
        transition: all 0.5s;
      }
      .box,
      .more-details {
        background: #ef4663;
      }
    }
    &.green {
      .flavor-img {
        transform: translate(0, 101%);
        transition: all 0.5s;
      }
      .flavor-desc .box {
        transform: translate(-101%, 0);
        transition: all 0.5s;
      }
      .box,
      .more-details {
        background: #6fc59e;
      }
    }
    .flavor-img {
      flex: 0 1 55%;
      padding: 70px 60px 60px 60px;
      @include down-sm {
        padding: 50px 15px 50px;
      }
      .flavor-img-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 560px;
          @include down-sm {
            max-width: 70%;
          }
        }
      }
    }
    .flavor-desc {
      flex: 0 1 45%;
      padding-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      @include down-sm {
        padding-left: 0;
        text-align: center;
        img {
          width: 80%;
        }
      }
      .box {
        padding: 110px;
        img {
          width: 100%;
        }
        @include down-sm {
          padding: 0px 15px;
        }
      }
      p {
        @include up-sm {
          max-width: 450px;
        }
        margin: 40px auto 0;
        color: #fff;
        text-align: left;
        font: 400 22px/34px $font-acumin;
        @include down-sm {
          margin: 20px auto 50px;
          font: 400 4.5vw/6vw $font-acumin;
          text-align: center;
        }
      }
      .more-details {
        margin: 30px 130px 30px 130px;
        text-align: center;
        font: bold 32px/40px $font-lemon;
        color: #fff;
        padding: 55px 20px;
        text-transform: uppercase;
        text-decoration: none;
        transform: translate(0,50%);
        opacity: 0;
        transition:all 0.3s;
        transition-delay: 0.3s;
        @include down-sm {
          margin: 8vw auto;
          font: bold 3vw/4vw $font-lemon;
          padding: 3vw 10vw;
        }
      }
    }
  }
}

@include desk {
  .home-hero {
    background-size: 20.6vw 19.4vw;
    &:before {
      content: " ";
      background-size: 20.6vw 19.4vw;
    }
    @include up-sm {
      height: calc(100vh - 3.2vw);
      max-height: 56.3vw;
    }
    .main-product-img {
      width: 31.3vw;
    }
  }

  .home-who-we-are {
    position: relative;
    padding-bottom: 5.3vw;

    .wwr-left {
      position: relative;
      flex: 0 1 50.4vw;
      &.init {
        h2 {
          &:before {
            height: 7.81vw;
          }
        }
      }
      h2 {
        font: 400 10.6vw/9.5vw $font-heavitas;
        left: 6.3vw;
        top: 4.6vw;
        letter-spacing: -0.2vw;
        position: relative;
        transform: translateX(10.4vw);

        &:before {
          content: " ";
          width: 8.1vw;
          left: 20.4vw;
          top: 1.8vw;
        }
      }
      h3 {
        font: 400 5.7vw/7.7vw $font-rail;
        bottom: -8.4vw;
        left: 4.2vw;
        transform: translateY(2.6vw);

        span {
          font-size: 11.4vw;
        }
      }
    }
    .wwr-right {
      flex: 0 1 29.3vw;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        right: 3.7vw;
        top: -5.8vw;
        transform: translateX(-10.4vw);
      }
    }

    .wwr-content {
      text-align: center;
      margin-top: 8.4vw;
      img {
        max-width: 15.7vw;
        margin: 0 auto 1.6vw;
      }
      p {
        font: 400 1.9vw/2.3vw $font-acumin;
        color: #000;
        margin-bottom: 2.7vw;
        padding: 0 5vw;
      }
      h2 {
        font: 400 4.5vw/5.5vw $font-rail;
        margin-bottom: 0;
      }
    }
  }

  .home-main-content {
    padding-top: 8.8vw;
    padding-bottom: 4.7vw;
    background-size: 100%;
    .klimon-logo-big {
      margin: 0 auto 7.4vw;
      max-width: 25.3vw;
      display: block;
    }
    .featured-flavor {
      margin-bottom: 1.4vw;
      &.reverse {
        .flavor-desc {
          padding-right: 1.4vw;
        }
      }
      .flavor-img {
        flex: 0 1 55%;
        padding: 3.7vw 3.2vw 3.2vw 3.2vw;
        .flavor-img-wrapper {
          img {
            max-width: 29.2vw;
          }
        }
      }
      .flavor-desc {
        padding-left: 1.4vw;
        .box {
          padding: 5.8vw;
        }
        p {
          @include up-sm {
            max-width: 23.5vw;
          }
          margin: 2.1vw auto 0;
          font: 400 1.2vw/1.8vw $font-acumin;
        }
        .more-details {
          margin: 1.6vw 6.8vw 1.6vw 6.8vw;
          font: bold 1.7vw/2.1vw $font-lemon;
          padding: 2.9vw 1.1vw;
        }
      }
    }
  }
}

@keyframes homeHero {
  100% {
    background-position: 100vw 0;
  }
}
@keyframes homeHeroReverse {
  100% {
    background-position: -100vw 0;
  }
}
